/* ------------- NAVBAR -------------- */
.navbar {
  background-color: transparent !important;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.navbar .navbar-nav .nav-link {
  color: #fff;
}

.navbar .navbar-nav .nav-link:hover {
  color: #fce289;
}

.navbar .navbar-nav i {
  cursor: pointer;
  color: #fff;
}

.navbar .navbar-nav li {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.navbar .navbar-nav i:hover {
  color: #fce289;
}

.navbar .navbar-nav .nav-item {
  position: relative;
  margin-left: 2rem;
}

.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fce289;
  width: 0%;
  content: "";
  height: 4px;
  transition: all 0.5s;
}

.navbar .navbar-nav .nav-item:hover::after {
  width: 65%;
}

.navbar-brand {
  color: #fff !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 700 !important;
  margin-right: 10rem;
}

/* ------------- BANNER -------------- */
#banner {
  height: 115vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(244, 140, 130, 0.9),
      rgba(252, 226, 137, 0.9)
    ),
    url(/assets/Layer\ 15.png);
  background-position: center;
}

#banner .container {
  position: relative;
}

#banner h1 {
  color: #fff;
}

#banner h1:first-child {
  font-family: "Kaushan Script", cursive;
  font-size: 3rem;
}

#banner h1:last-child {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 6rem;
}

.other-link {
  display: inline-block;
  padding: 0.4rem 2.5rem;
  margin-top: 2.5rem;
  text-align: center;
  margin-top: 3rem;
}

.other-link a {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
  border: 4px solid #fff;
  padding: 0.5rem 1rem;
}

.line {
  display: block;
  background-color: #fff;
  margin-top: 1rem;
  height: 0.2rem;
  width: 4rem;
  margin-top: 2rem;
}

.progress {
  border-radius: 0;
  height: 0.1rem;
  margin-bottom: 0.9rem;
}

.progress-bar {
  background-color: #e88383;
}

.banner-bottom {
  position: absolute;
  width: 100%;
  padding: 0 8rem;
  bottom: -9rem;
}

.banner-bottom h6 {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  display: inline;
}

.banner-bottom span {
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
