#about {
  padding: 4rem 2rem;
  text-align: center;
}

#about .story {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#about .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
