#banner {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(244, 140, 130, 0.9),
      rgba(252, 226, 137, 0.9)
    ),
    url(/assets/bg-header.jpg);
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

/* select first h1 */
#banner h1 {
  color: #fff;
  text-align: center;
}

#banner h1:first-of-type {
  font-family: "Kaushan Script", cursive;
  font-weight: 500;
  font-size: 2.8rem;
  font-size: clamp(2rem, 9vw, 3rem);
}

#banner h1:last-of-type {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: clamp(2rem, 11vw, 5rem);
}

#banner .divider {
  background-color: #fff;
}

#banner .other-link {
  display: inline-block;
  padding: 0.4rem 2.5rem;
  margin-top: 2.5rem;
  text-align: center;
  margin-top: 3rem;
}

#banner .other-link a {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
  border: 4px solid #fff;
  padding: 0.5rem 1rem;
}
