#facts {
  background-color: #95e1d3;
  color: #fff;
  padding: 4rem 2rem;
}

#facts .facts-container {
  display: grid;
  text-align: center;
  grid-row-gap: 4rem;
}

#facts h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4rem;
}

#facts h6 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

@media only screen and (min-width: 600px) {
  #facts .facts-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
