#facts {
  background-color: #95e1d3;
  color: #fff;
  padding: 4rem 2rem;
  /* flex gap */
}

#facts .facts-container {
  display: grid;
  text-align: center;
  grid-row-gap: 4rem;
  /* flex gap */
}

#facts h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4rem;
}

#facts h6 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
