#feature {
  padding: 4rem 2rem 0 2rem;
  display: block;
  position: relative;
}

#feature::after {
  content: "";
  background: url(../assets/unique-design/bg-unique-design.jpg);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#feature .image-container {
  margin: 4rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 32.125rem;
  position: relative;
}

#feature .image-container img:first-of-type {
  width: 100%;
}

#feature .image-container img:last-of-type {
  position: absolute;
  bottom: -3rem;
  right: -5rem;
  width: 11rem;
  display: none;
}

/* =============== RESPONSIVE  =============== */
@media only screen and (min-width: 700px) {
  #feature .image-container img:last-of-type {
    display: block;
  }
}
