#logo {
  padding: 4rem 2rem;
  background: #f8f8f8;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#logo .logo {
  display: flex;
  justify-content: center;
}

#logo .logo img {
  width: 100%;
  height: 100%;
  max-width: 10rem;
}
