#service-2 {
  padding: 4rem 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

#service-2 .service-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
}

#service-2 .main-container {
  max-width: 1200px;
}

#service-2 .image {
  overflow: hidden;
  width: 100%;
}

#service-2 .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#service-2 .bi {
  color: #95e1d3;
  font-size: 1.5rem;
}

#service-2 .accordion-item {
  border-radius: 0;
  border-color: #d1cbcb69;
}

#service-2 button span {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-left: 1rem;
}

#service-2 button {
  color: #000;
  border-color: rgba(146, 148, 142, 0.125);
  box-shadow: none;
  height: 3rem;
  border-top: 1px solid rgba(177, 171, 171, 0.125);
}

#service-2 button:focus {
  background-color: #fff;
}

#service-2 .accordion-body {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #9999;
  max-height: 6.5rem;
  overflow: scroll;
  overflow-x: hidden;
}

#service-2 .accordion-body::-webkit-scrollbar {
  width: 8px;
}

#service-2 .accordion-body::-webkit-scrollbar-track {
  background: rgba(167, 165, 165, 0.125);
}

#service-2 .accordion-body::-webkit-scrollbar-thumb {
  background-color: #95e1d3;
  border-radius: 20px;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239999'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

#service-2 .accordion-item {
  margin-bottom: 1rem;
}

/* =============== RESPONSIVE  =============== */
@media only screen and (min-width: 700px) {
  #service-2 {
    padding: 6rem 2rem 4rem 2rem;
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  #service-2 .service-container {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0;
    grid-column-gap: 2rem;
  }
}
