#testimonial {
  padding: 4rem 2rem;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
}

#testimonial .name {
  display: flex;
  margin-top: 1.5rem;
}

#testimonial .testimonial-container {
  max-width: 1200px;
  display: grid;
}

#testimonial p {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #999999;
  font-style: italic;
  line-height: 2;
}

#testimonial h4 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.3rem;
  margin-left: 1rem;
}

#testimonial .divider {
  background-color: #e88383;
  position: relative;
  bottom: 1rem;
}

#testimonial .icon {
  display: none;
  color: #95e1d3;
  font-size: 5rem;
}

/* =============== RESPONSIVE  =============== */
@media only screen and (min-width: 575px) {
  #testimonial .testimonial-container {
    grid-template-columns: 1fr 5fr;
  }

  #testimonial .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #testimonial .paragraph {
    padding-left: 2rem;
  }
}
