#work {
  padding-top: 4rem;
  text-align: center;
}

#work p {
  padding: 0 2rem;
}

#work .works {
  display: grid;
}

:is(#work .works) .left,
.right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#work .works img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
