#work {
  padding-top: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#work p {
  padding: 0 2rem;
}

#work .work-container {
  max-width: 1200px;
}

#work .works {
  display: grid;
  width: 100%;
}

:is(#work .works) .left,
.right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#work .works img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* =============== RESPONSIVE  =============== */
@media only screen and (min-width: 992px) {
  #work .works {
    grid-template-columns: 1fr 1fr;
  }
}
