#faq {
  margin-top: 100px;
  background-image: linear-gradient(45deg, #346751, #c84b31);
  padding: 100px 0;
}

#faq .faq-container {
  margin: 0 auto;
  width: 70%;
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  color: #ecdbba;
}

#faq .faq-container .faq i {
  font-size: 70px;
}

#faq .faq-container .faq h1 {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
  font-size: 50px;
}

#faq .faq-container .faq h5 {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  font-size: 30px;
}

@media only screen and (max-width: 1920px) {
  #faq .faq-container .faq i {
    font-size: 50px;
  }

  #faq .faq-container .faq h1 {
    font-size: 35px;
  }

  #faq .faq-container .faq h5 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 1680px) {
  #faq {
    padding: 70px 0;
  }

  #faq .faq-container .faq i {
    font-size: 40px;
  }

  #faq .faq-container .faq h1 {
    font-size: 30px;
  }

  #faq .faq-container .faq h5 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1440px) {
  #faq {
    padding: 60px 0;
  }

  #faq .faq-container .faq i {
    font-size: 35px;
  }

  #faq .faq-container .faq h1 {
    font-size: 25px;
  }

  #faq .faq-container .faq h5 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1280px) {
  #faq .faq-container {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  #faq .faq-container {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  #faq {
    margin-top: 0px;
    padding: 60px 0;
  }

  #faq .faq-container {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    width: 80%;
  }

  #faq .faq-container .faq i {
    font-size: 30px;
  }

  #faq .faq-container .faq h1 {
    font-size: 18px;
  }

  #faq .faq-container .faq h5 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  #faq .faq-container {
    grid-template-columns: 1fr;
  }
}
