#info {
  padding: 100px 0;
}

#info .info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #ecdbba;
  width: 85%;
  margin: 0 auto;
  gap: 40px;
}

#info .info-container h1 {
  font-size: 70px;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
}

#info .info-container p {
  font-family: "Overpass", sans-serif;
  font-size: 25px;
}

@media only screen and (max-width: 1600px) {
  #info .info-container p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1280px) {
  #info .info-container h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 1024px) {
  #info .info-container h1 {
    font-size: 50px;
  }

  #info .info-container p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  #info {
    padding: 50px 0;
  }
  #info .info-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  #info .info-container h1 {
    font-size: 40px;
  }

  #info .info-container p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  #info .info-container h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 320px) {
  #info .info-container h1 {
    font-size: 25px;
  }
}
