#work-process {
  padding: 100px 0;
}

.work-process-container {
  margin: 100px auto 0 auto;
  width: 85%;
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.work-process-container .process {
  background-color: #ecdbba;
  padding: 2rem;
  border-radius: 20px;
}

.work-process-container .process .icon-container-1 {
  background-color: #9fe0c4;
  color: #1c7a51;
}

.work-process-container .process .icon-container-1,
.work-process-container .process .icon-container-2 {
  width: 6rem;
  text-align: center;
  font-size: 35px;
  padding: 20px;
  border-radius: 10px;
}

.work-process-container .process .icon-container-2 {
  background-color: #eca191;

  color: #d74d30;
}

.work-process-container .process h5 {
  font-family: "bai jamjuree", sans-serif;
  font-size: 25px;
  font-weight: 600;
  padding-top: 20px;
}

.work-process-container .process p {
  font-family: "Overpass", sans-serif;
  font-size: 20px;
}

@media only screen and (max-width: 1680px) {
  .work-process-container .process h5 {
    font-size: 20px;
  }

  .work-process-container .process p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1280px) {
  .work-process-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1024px) {
  .work-process-container .process .icon-container-1,
  .work-process-container .process .icon-container-2 {
    width: 5rem;
    font-size: 28px;
    padding: 15px;
  }
}

@media only screen and (max-width: 768px) {
  #work-process {
    padding: 50px 0;
  }

  .work-process-container {
    margin: 50px auto 0 auto;
  }
}

@media only screen and (max-width: 640px) {
  .work-process-container {
    grid-template-columns: 1fr;
  }
}
