* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  transition: all 0.3s ease-in-out;
}

body {
  background-color: #161616 !important;
}

img {
  width: 100%;
  height: 100%;
}

/* font-family: 'Bai Jamjuree', sans-serif;
font-family: 'Overpass', sans-serif; */

/* Breakpoints: 
2560 
1920
1680
1600
1440
1366
1280
1024
992
800
768
640
480
414
360
320
*/

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1680px) {
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 640px) {
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 414px) {
}

@media only screen and (max-width: 360px) {
}

@media only screen and (max-width: 320px) {
}
